<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <p>header</p>
</head>
<body>
<main>
    {{ .Content }}
</main>
</body>
<footer>
    <p>footer</p>
    <p>© 2024 My Website</p>
</footer>
</html>

